body {
  margin: 0;
  font-family: $font-body;
  color: $primery-text-color;
}

.page-header {
  @extend %container;
  display: flex;
  justify-content: space-between;
  background-color: $primary-white-color;
}

.main-nav {
  @extend %flex;
  .logo-head {
    @extend %link;
    font-family: $font-logo;
    @include fontz(700, 26px, 1.19, 0.03em);
    text-decoration: none;
  }
  .logo-foot {
    margin-bottom: 10px;
    @include fontz(700, 22px, 1.18, 00.03em);
  }
}

.logo-web {
  color: #2196f3;
}

.logo-nav {
  color: #000000;
}

//навигация сайта

.site-nav {
  @extend %list;
  @extend %link;
  display: flex;
  margin-left: 85px;
  .item:not(:last-child) {
    margin-right: 50px;
  }
  .link.current {
    color: $accent-text-color;
    &::after {
      opacity: 1;
    }
  }
  .link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    @include fontz(500, 14px, 1, 0.02em);
    color: $title-text-color;
    @include tranzition(color);
    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      display: block;
      @include bsize(100%, 4px);
      background-color: $accent-text-color;
      border-radius: 4px;
      opacity: 0;
      @include tranzition(opacity);
    }
    &:hover {
      color: $accent-text-color;
      @include tranzition(color);
    }
    &:focus {
      color: $accent-text-color;
      @include tranzition(color);
    }
  }
}

.cont-nav {
  @extend %list;
  @extend %link;
  margin-left: auto;
  @extend %flex;
  > .item.phone {
    margin-left: 30px;
  }
  .link {
    display: inline-flex;
    align-items: center;
    @include fontz(500, 14px, 1.14, 00.02em);
    color: $primery-text-color;
    @include tranzition(color);
  }
  .mail-icon {
    @include bsize(16px, 11px);
    margin-right: 10px;
    fill: currentColor;
    cursor: pointer;
  }
  .phone-icon {
    @include bsize(10px, 15px);
    margin-right: 10px;
    fill: currentColor;
    cursor: pointer;
  }
}

//Футер

.page-footer {
  @extend %container;
  @extend %link;
  min-height: 253px;
  background-color: $foot-primery-color;
  color: $primary-white-color;
  b {
    display: inline-block;
    margin-bottom: 21px;
    text-transform: uppercase;
    @include fontz(400, 14px, 1.14, 0.03em);
  }
  .container.info {
    @include flex-mix(flex, baseline, space-between);
    padding-top: 48px;
    padding-bottom: 28px;
  }
  .address {
    @include fontz(400, 14px, 1.71, 0.03em);
  }
}

.logo-foot {
  @extend %link;
  color: $primary-white-color;
  &.link {
    display: inline-block;
    margin-bottom: 10px;
  }
}

.address {
  &.company {
    margin-bottom: 9px;
    font-family: inherit;
    font-style: normal;
  }
  .link {
    font-family: inherit;
    font-style: normal;
    @include fontz(400, 14px, 1.71, 0.03em);
    &.mail {
      display: inline-block;
      margin-bottom: 9px;
    }
  }
}

//значки соцсетей

.social {
  .list {
    display: flex;
    justify-items: center;
  }
  .link {
    @include flex-mix(flex, center, center);
    @include bsize(44px, 44px);
    color: $primary-white-color;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    @include tranzition(background-color);
    @include tranzition(color);
    &:hover,
    &:focus {
      color: $primary-white-color;
      background-color: $accent-text-color;
      @include tranzition(background-color);
      @include tranzition(color);
      transform: scale3d(1.1, 1.1, 1.1);
    }
  }
  &-icon {
    fill: currentColor;
  }
}

.foot-link .social {
  .item {
    margin-right: 10px;
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
